<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardPagingMapper">  
  
    <!-- param 전달법 : arg0, param1, HashMap, Vo        -->
    <!-- param가 vo가 아니고 일반변수일땐 arg0, param1 사용 -->
    <!-- arg0 : menu_id,  arg1 : title,  arg2 : writer   --> 
    <!-- arg3 : offset,   arg4 : pageSize                --> 
   <select   id="getBoardPagingList" resultType="com.board.domain.BoardPagingVo" >
   	SELECT  BNO
   	  		, MENU_ID 
   	  		, TITLE    	  
	    	  , WRITER
	    	  , TO_CHAR(REGDATE, 'YYYY-MM-DD') REGDATE
	    	  , HIT
   	 FROM   BOARD
   	 
   <where>
    <if test="arg0 != null and arg0 != ''">
		 AND MENU_ID = #{ arg0 }
	 </if>
    <if test="arg1 != null and arg1 != ''">
		 AND TITLE LIKE '%' || #{ arg1 } || '%'
	 </if>
	 <if test="arg2 != null and arg2 != ''">
		 AND WRITER LIKE '%' || #{ arg2 } || '%'
	 </if>		 
	</where>
      ORDER BY  BNO DESC 
     OFFSET #{ arg3 } ROWS FETCH NEXT #{ arg4 } ROWS ONLY 
        
   </select>
   
   <select id="count" 
     parameterType="com.board.domain.BoardPagingVo" 
     resultType="int">
		 SELECT COUNT(*) AS CNT
	    FROM BOARD
	  <where>
	  <if test="menu_id != null and menu_id != ''">
		  AND MENU_ID = #{ menu_id }
	  </if>
	  <if test="title != null and title != ''">
		  AND TITLE LIKE '%' || #{title} || '%'
	  </if>
	  <if test="writer != null and writer != ''">
		  AND WRITER LIKE '%' || #{writer} || '%'
	  </if>
	  </where>
	</select>

	<insert id ="insertBoard">
		INSERT   INTO BOARD
		 VALUES  ( (SELECT NVL(MAX(BNO) ) ) )
		
	</insert>
    
</mapper>





